*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1-necessities img{
    height: 150px;
    position: relative;
    left: 180px;
    top: -70px;
}

#img2-ff img{
    height: 150px;
    position: relative;
    left: -40px;
    top: -90px; 
}

#img3-lts img{
    height: 150px;
    position: relative;
    left: -60px;
    top: 15px; 
}

#img4-edu img{
    height: 150px;
    position: relative;
    left: 200px;
    top: 20px; 
}

#img5-play img{
    height: 150px;
    position: relative;
    left: 550px;
    bottom: 150px; 
}


#box{
    width: 580px;
    height: 580px;
    border: 2px solid black;
    border-radius: 50%;
}

h1{
    position: relative;
    left: 35%;
    top: -85%;
}

form{
    position: relative;
    left: 30%;
    top: -80%;
}

input{
    height: 35px;
    width: 150px;
    text-align: center;
    font-size: medium;
    border: 1px solid gray;
}

button{
    height: 35px;
    width: 100px;
    font-size: 16px;
}