*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(62, 59, 59)
}

div {
    height: 90vh;
    width: 100vw;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(49, 47, 47);
    background-color:rgb(162, 159, 159);
    padding: 14px 28px;
    border-radius: 8px;
    position: relative;
    left: 50%;
    top: 10px;
}