*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-y  : hidden;
    background-color: #80AF81;
}

#headbox{
    width: 500px;
    height: 180px;
    background-color: #49964e;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: -20px;
}

#head{
    text-align: center;
    font-size: 48px;
    padding-top: 30px;
    color: #1A5319;
}

#inp{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

#inp #name{
    margin-right: 10px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: 2px solid #fdfdfd;
    color: #013601;
    border-radius: 14px;
    padding-left: 30px;
    outline: none;
    overflow: hidden;
    box-shadow:-1px -1px 1px 1px rgba(202, 206, 202, 0.5);
}

#inp #name:focus {
    border: 2px solid #219110;
    transition: 1.3s ease-in-out;
}

#box{
    align-items: center;
    justify-content: center;
    width: 80vw;
   /* height: 100vh; */
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    margin: 0 auto;
}

#b{
    margin-top: 40px;
    width: 300px;
    height: 200px;
    background-color: #D6EFD8;
    /* border: 2px solid rgb(150, 150, 150); */
    box-shadow:-3px -3px 3px 3px rgba(142, 139, 139, 0.5);

    color: #066604;
    text-align: center;
    border-radius: 18px;
}

#b h2{
    margin-top: -20px;
}

 #salary{
    width: 130px;
    height: 50px;
    /* color: rgb(226, 28, 28); */
    margin: 0 auto;
    border-radius: 9px;
/* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.7px);
    -webkit-backdrop-filter: blur(19.7px);
 }

 p{
    font-size: 22px;
    padding: 10px 0;
    color: #3d963a;
    font-weight: bold;
 }

